language: node_js

node_js:
  - "node"

branches:
  only:
    - master

before_script:
  - npm install -g firebase-tools
  - npm install

script:
  - npm run build

after_success:
  - firebase deploy --token $FIREBASE_CI_TOKEN