<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://connect.facebook.net/en_US/fbinstant.6.2.js"></script>
</head>
<body>
    <script type="text/javascript" src="bundle.js"></script>
    <div class="container mt-1">
        <div id="game-container"></div>
    </div>


    
    <% if (htmlWebpackPlugin.options.env === "production") {%>
    <script>
    FBInstant.initializeAsync().then(function () {
        var progess = 0;
        var interval = setInterval(function(){
            if(progess >= 95){
                clearInterval(interval);
                // start facebook game
                FBInstant.startGameAsync().then(function () {
                        game.init({
                            container: "game-container",
                            FBInstant: FBInstant,
                            backendClient: ''
                        }).createBoard();

                if(FBInstant.context.getType() !== 'SOLO') {
                    game.start();
                }
                })
            }
            FBInstant.setLoadingProgress(progess);
            progess+=5;
        }, 100)
        
        
     });
    </script> 

    <% } else{ %>
    <script>   
    game.init({
        container: "game-container"
    }).createBoard();
    </script>
    <% } %>
</body>
</html>